node_modules/
dist/

# Environment
.env
.env.*

# Logs & runtime output
*.log
*.err
*.out
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS artefacts
.DS_Store
Thumbs.db

# IDE
.vscode/

# Temporary / generated artefacts
page1.json
